.app-container {
  display: flex;
}

.main-container {
  width: 100%;
  padding: 12px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

html h1 {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}
